## Section 2.5-2.7 from HW 1

## Solution to 2.5

In [4]:
temperature = [-5.4, 1.0, -1.3, -4.8, 3.9, 0.1, -4.4, 4.0, -2.2, -3.9, 4.4,
                -2.5, -4.6, 5.1, 2.1, -2.4, 1.9, -3.3, -4.8, 1.0, -0.8, -2.8,
                -0.1, -4.7, -5.6, 2.6, -2.7, -4.6, 3.4, -0.4, -0.9, 3.1, 2.4,
                1.6, 4.2, 3.5, 2.6, 3.1, 2.2, 1.8, 3.3, 1.6, 1.5, 4.7, 4.0,
                3.6, 4.9, 4.8, 5.3, 5.6, 4.1, 3.7, 7.6, 6.9, 5.1, 6.4, 3.8,
                4.0, 8.6, 4.1, 1.4, 8.9, 3.0, 1.6, 8.5, 4.7, 6.6, 8.1, 4.5,
                4.8, 11.3, 4.7, 5.2, 11.5, 6.2, 2.9, 4.3, 2.8, 2.8, 6.3, 2.6,
                -0.0, 7.3, 3.4, 4.7, 9.3, 6.4, 5.4, 7.6, 5.2]

In [5]:
cold = []
slippery = []
comfortable = []
warm = []

for i in range(len(temperature)):
    if temperature[i] < -2.0:
        cold.append(temperature[i])
    elif (temperature[i] >= -2.0) and (temperature[i] < 2.0):
        slippery.append(temperature[i])
    elif (temperature[i] >= 2.0) and (temperature[i] < 15.0):
        comfortable.append(temperature[i])
    elif temperature[i] >= 2.0:
        warm.append(temperature[i])

In [6]:
print(len(cold))

15

In [7]:
print(len(comfortable))

59

In [8]:
print(len(warm))

0

## Solution for section 2.6

In [9]:
def fahr_to_celsius(temp):
    deg_C = (temp - 32) * 5/9
    return deg_C

In [10]:
temp = 32

fahr_to_celsius(temp)

0.0

In [11]:
temp = 68

fahr_to_celsius(temp)

20.0

In [12]:
temp = 91

fahr_to_celsius(temp)

32.77777777777778

In [13]:
temp = -17

fahr_to_celsius(temp)

-27.22222222222222

## Solution for 2.7

In [14]:
def classify_temp(temperature):
    if temperature < -2.0:
        return 0
    elif (temperature >= -2.0) and (temperature < 2.0):
        return 1
    elif (temperature >= 2.0) and (temperature < 15.0):
        return 2
    elif temperature >= 2.0:
        return 3

In [15]:
temps = [17.0, 2.0, 1.9, -2]

In [16]:
for i in range(len(temps)):
    print(classify_temp(temps[i]))

3
2
1
1

## Solution for 3.1

In [17]:
import pandas as pd

In [18]:
fp = "data/6153237444115dat.csv"

In [19]:
data = pd.read_csv(fp)

In [20]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,1009.2,*****,984.1,***,***,*****,*****,*****,*****,35
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,1009.1,*****,984.0,***,***,*****,*****,*****,*****,35
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**

There are 5 rows.

The column names are: 'USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L',
       'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2',
       'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01',
       'PCP06', 'PCP24', 'PCPXX', 'SD'],

The data types of the columns are below

In [21]:
data.dtypes

USAF             int64
WBAN             int64
YR--MODAHRMN     int64
DIR             object
SPD             object
GUS             object
CLG             object
SKC             object
L               object
M               object
H               object
VSB             object
MW              object
MW.1            object
MW.2            object
MW.3            object
AW              object
AW.1            object
AW.2            object
AW.3            object
W               object
TEMP            object
DEWP            object
SLP             object
ALT             object
STP             object
MAX             object
MIN             object
PCP01           object
PCP06           object
PCP24           object
PCPXX           object
SD              object
dtype: object

In [22]:
data.columns

Index(['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L',
       'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2',
       'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01',
       'PCP06', 'PCP24', 'PCPXX', 'SD'],
      dtype='object')

In [23]:
data.loc[0:11694, ['TEMP']]

      TEMP
0       31
1       30
2       30
3       31
4       30
...    ...
11689   64
11690   64
11691   64
11692   64
11693   64

[11694 rows x 1 columns]

In [24]:
temp_list = []
for i  in range(len(data["TEMP"])):
    if data["TEMP"][i] != "****":
        temp_list.append(float(data["TEMP"][i]))
        
# used to remove the blank data points and change the data points from str to float

In [32]:
import numpy as np

In [33]:
np.mean(temp_list)

52.24796852279531

In [34]:
max_list = []
for i  in range(len(data["MAX"])):
    if data["MAX"][i] != "***":
        max_list.append(float(data["MAX"][i]))

In [35]:
np.std(max_list)

10.297378706760895

In [36]:
np.unique(data["USAF"])

array([28450, 29980])

## Solution for 3.2

In [37]:
selected = ["USAF", "YR--MODAHRMN", "TEMP", "MAX", "MIN"]
print(selected)

['USAF', 'YR--MODAHRMN', 'TEMP', 'MAX', 'MIN']

In [38]:
data["TEMP"].dropna()

0        31
1        30
2        30
3        31
4        30
         ..
11689    64
11690    64
11691    64
11692    64
11693    64
Name: TEMP, Length: 11694, dtype: object

In [39]:
data["CELSIUS"] = 0.0
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD,CELSIUS
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,*****,984.1,***,***,*****,*****,*****,*****,35,0.0
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,0.0
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,0.0
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,*****,984.0,***,***,*****,*****,*****,*****,35,0.0
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,0.0

In [40]:
celsius = []
for i in range(len(data["TEMP"])):
    if data["TEMP"][i] != "****":
        celsius.append((float(data["TEMP"][i]) - 32) / 1.8)
    else: 
        celsius.append("****")

In [41]:
data["CELSIUS"] = celsius

In [42]:
celsius_rounded = []
for i in range(len(celsius)):
    if celsius[i] != "****":
        celsius_rounded.append(round(celsius[i]))
    else:
        celsius_rounded.append("****")

In [43]:
data["CELSIUS"] = celsius_rounded

In [44]:
data["CELSIUS"]

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
11689    18
11690    18
11691    18
11692    18
11693    18
Name: CELSIUS, Length: 11694, dtype: object

In [45]:
celsius_list = []
for i  in range(len(data["CELSIUS"])):
    if data["CELSIUS"][i] != "****":
        celsius_list.append(int(data["CELSIUS"][i]))
    else:
        celsius_list.append("****")


- doing astype(int) does not work because of the non-data points. when removing the non-data, it changes the length of the data set and does not allow the astype(int) function to work

In [46]:
data["CELSIUS"] = celsius_list
print(data["CELSIUS"])

#it will never show all int because of the asterisks, but when 
# they're removed it doesn't work because the data set is a different lenth

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
11689    18
11690    18
11691    18
11692    18
11693    18
Name: CELSIUS, Length: 11694, dtype: object

In [47]:
kumpula = data.loc[data["USAF"] == 29980]

In [48]:
kumpula

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD,CELSIUS
8770,29980,99999,201705010000,206,14,20,722,SCT,*,*,...,*****,1021.9,***,***,*****,*****,*****,*****,0,3
8771,29980,99999,201705010100,198,14,23,722,SCT,*,*,...,*****,1022.2,***,***,*****,*****,*****,*****,0,3
8772,29980,99999,201705010200,216,13,21,722,SCT,*,*,...,*****,1022.0,***,***,*****,*****,*****,*****,0,3
8773,29980,99999,201705010300,200,16,***,***,***,*,*,...,*****,1022.2,***,***,*****,*****,*****,*****,**,3
8774,29980,99999,201705010400,220,14,21,722,CLR,*,*,...,*****,1022.5,***,***,*****,*****,*****,*****,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,29980,99999,201708311900,144,12,20,50,BKN,*,*,...,*****,1004.7,***,***,*****,*****,*****,*****,0,18
11690,29980,99999,201708312000,137,14,20,40,BKN,*,*,...,*****,1003.9,***,***,*****,*****,*****,*****,0,18
11691,29980,99999,201708312100,160,13,***,***,BKN,*,*,...,*****,1003.2,***,***,*****,*****,*****,*****,**,18
11692,29980,99999,201708312200,170,12,21,28,OVC,*,*,...,*****,1003.1,***,***,*****,*****,*****,*****,0,18
11693,29980,99999,201708312300,192,13,21,19,BKN,*,*,...,*****,1002.8,***,***,*****,*****,*****,*****,0,18

In [49]:
rovaniemi = data.loc[data["USAF"] == 28450]

In [50]:
rovaniemi

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD,CELSIUS
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,*****,984.1,***,***,*****,*****,*****,*****,35,-1
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,-1
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,-1
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,*****,984.0,***,***,*****,*****,*****,*****,35,-1
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8765,28450,99999,201708312220,120,3,***,***,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,8
8766,28450,99999,201708312250,130,2,***,170,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,8
8767,28450,99999,201708312300,066,4,***,***,***,*,*,...,*****,983.3,***,***,*****,*****,*****,*****,**,9
8768,28450,99999,201708312320,150,5,***,***,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,8
8769,28450,99999,201708312350,160,6,***,***,***,*,*,...,29.71,******,***,***,*****,*****,*****,*****,**,9

In [51]:
kumpula.to_csv("Kumpula_temps_May_Aug_2017.csv",  sep=',', float_format='%.2f')

In [52]:
rovaniemi.to_csv("Rovaniemi_temps_May_Aug_2017.csv",  sep=',', float_format='%.2f')

## Solution for 3.3

In [110]:
#1. 
fp1 = "Kumpula_temps_May_Aug_2017.csv"
kumpula = pd.read_csv(fp1)

In [160]:
fp2 = "Rovaniemi_temps_May_Aug_2017.csv"
rovaniemi = pd.read_csv(fp2)

In [112]:
kumpula_median = kumpula["CELSIUS"].median()
print(kumpula_median)

14.0

In [113]:
rovaniemi_list = []
for i  in range(len(rovaniemi["CELSIUS"])):
    if rovaniemi["CELSIUS"][i] != "****":
        rovaniemi_list.append(int(rovaniemi["CELSIUS"][i]))

In [114]:
rovaniemi_median = np.median(rovaniemi_list)
print(rovaniemi_median)

11.0

In [115]:
#2. 
kumpula_may = kumpula[["YR--MODAHRMN", "CELSIUS"]][0:741]

kumpula_june = kumpula[["YR--MODAHRMN", "CELSIUS"]][742:1455]

In [117]:
print(kumpula_may["CELSIUS"].mean())

9.758434547908232

In [118]:
print(kumpula_may["CELSIUS"].min())

-2

In [119]:
print(kumpula_may["CELSIUS"].max())

23

In [120]:
print(kumpula_june["CELSIUS"].mean())

13.743338008415147

In [121]:
print(kumpula_june["CELSIUS"].min())

3

In [122]:
print(kumpula_june["CELSIUS"].max())

24

In [202]:
fp2 = "Rovaniemi_temps_May_Aug_2017.csv"
rovaniemi = pd.read_csv(
    fp2,
    sep=",",
    na_values=["*", "**", "***", "****", "*****", "******"],
    usecols=["YR--MODAHRMN", "CELSIUS"],
)

In [203]:
rovaniemi_may = rovaniemi[["YR--MODAHRMN", "CELSIUS"]][0:2222]

rovaniemi_june = rovaniemi[["YR--MODAHRMN", "CELSIUS"]][2223:4349]

In [204]:
print(rovaniemi_may["CELSIUS"].mean())

2.986036036036036

In [205]:
print(rovaniemi_may["CELSIUS"].max())

15.0

In [206]:
print(rovaniemi_may["CELSIUS"].min())

-7.0

In [207]:
print(rovaniemi_june["CELSIUS"].mean())

11.022577610536219

In [208]:
print(rovaniemi_june["CELSIUS"].max())

23.0

In [209]:
print(rovaniemi_june["CELSIUS"].min())

-1.0

Kumpula has less of a difference between May and June in comparison to Rovaniemi which sees a greater temperature difference. In general Rovaniemmi is colder than Kumpula, but I wouldn't say it's significantly colder.

In [224]:
rovaniemi["YR--MODAHRMN"] = rovaniemi["YR--MODAHRMN"].astype(str)

In [262]:
kumpula["YR--MODAHRMN"] = kumpula["YR--MODAHRMN"].astype(str)

In [236]:
rovaniemi["DAY"] = rovaniemi["YR--MODAHRMN"].str.slice(start=4, stop=8)
rovaniemi["DAY"].head()

0    0501
1    0501
2    0501
3    0501
4    0501
Name: DAY, dtype: object

In [263]:
kumpula["DAY"] = kumpula["YR--MODAHRMN"].str.slice(start=4, stop=8)
kumpula["DAY"].head()

0    0501
1    0501
2    0501
3    0501
4    0501
Name: DAY, dtype: object

In [237]:
grouped = rovaniemi.groupby("DAY")

In [264]:
grouped = kumpula.groupby("DAY")

In [238]:
days = list(grouped.groups.keys())

In [265]:
days1 = list(grouped.groups.keys())

In [278]:
grouped.get_group(days[0])["CELSIUS"]

#rovaniemi

0      3
1      3
2      3
3      3
4      4
5      5
6      7
7      7
8      9
9     11
10    11
11    11
12    12
13     9
14    10
15    11
16    10
17    11
18     9
19     9
20     8
21     7
22     6
23     4
Name: CELSIUS, dtype: int64

In [277]:
grouped.get_group(days1[0])["CELSIUS"]

#kumpula

0      3
1      3
2      3
3      3
4      4
5      5
6      7
7      7
8      9
9     11
10    11
11    11
12    12
13     9
14    10
15    11
16    10
17    11
18     9
19     9
20     8
21     7
22     6
23     4
Name: CELSIUS, dtype: int64

In [276]:
for i in range(len(days1)):
    print("max: " + str(grouped.get_group(days1[i])["CELSIUS"].max()))
    print("min: " + str(grouped.get_group(days1[i])["CELSIUS"].min()))
    print("mean: " + str(grouped.get_group(days1[i])["CELSIUS"].mean()))
    
    #kumpula

max: 12
min: 3
mean: 7.625
max: 16
min: 2
mean: 9.75
max: 13
min: 4
mean: 9.208333333333334
max: 11
min: 3
mean: 6.666666666666667
max: 17
min: 2
mean: 10.25
max: 15
min: 6
mean: 10.958333333333334
max: 9
min: 2
mean: 5.875
max: 7
min: 1
mean: 4.25
max: 4
min: -2
mean: 1.6666666666666667
max: 4
min: -2
mean: 1.5416666666666667
max: 8
min: -2
mean: 2.7083333333333335
max: 11
min: -2
mean: 5.166666666666667
max: 13
min: 1
mean: 7.583333333333333
max: 14
min: 3
mean: 10.125
max: 14
min: 3
mean: 8.708333333333334
max: 12
min: 1
mean: 7.217391304347826
max: 13
min: 6
mean: 9.708333333333334
max: 14
min: 9
mean: 11.0
max: 23
min: 9
mean: 16.375
max: 22
min: 13
mean: 16.958333333333332
max: 18
min: 11
mean: 14.833333333333334
max: 19
min: 9
mean: 14.666666666666666
max: 18
min: 8
mean: 13.416666666666666
max: 17
min: 9
mean: 12.291666666666666
max: 20
min: 9
mean: 14.041666666666666
max: 18
min: 8
mean: 13.833333333333334
max: 12
min: 7
mean: 9.416666666666666
max: 18
min: 8
mean: 12.916666666666666
max: 18
min: 6
mean: 13.636363636363637
max: 13
min: 4
mean: 9.708333333333334
max: 16
min: 6
mean: 10.625
max: 10
min: 4
mean: 6.583333333333333
max: 8
min: 3
mean: 6.125
max: 16
min: 4
mean: 10.166666666666666
max: 15
min: 5
mean: 9.916666666666666
max: 12
min: 9
mean: 10.333333333333334
max: 19
min: 8
mean: 14.541666666666666
max: 21
min: 9
mean: 16.458333333333332
max: 14
min: 11
mean: 12.333333333333334
max: 18
min: 11
mean: 14.0
max: 20
min: 11
mean: 16.291666666666668
max: 22
min: 13
mean: 16.791666666666668
max: 13
min: 12
mean: 12.625
max: 18
min: 9
mean: 12.625
max: 20
min: 7
mean: 14.791666666666666
max: 19
min: 9
mean: 15.25
max: 23
min: 12
mean: 18.5
max: 24
min: 14
mean: 19.458333333333332
max: 19
min: 14
mean: 16.875
max: 22
min: 13
mean: 17.791666666666668
max: 17
min: 10
mean: 12.791666666666666
max: 17
min: 9
mean: 11.875
max: 17
min: 8
mean: 12.041666666666666
max: 14
min: 7
mean: 11.0
max: 17
min: 9
mean: 12.875
max: 17
min: 12
mean: 14.083333333333334
max: 16
min: 12
mean: 13.421052631578947
max: 17
min: 11
mean: 13.833333333333334
max: 19
min: 10
mean: 15.25
max: 20
min: 8
mean: 16.375
max: 19
min: 14
mean: 17.043478260869566
max: 15
min: 13
mean: 13.833333333333334
max: 19
min: 14
mean: 16.416666666666668
max: 18
min: 12
mean: 14.217391304347826
max: 17
min: 12
mean: 14.083333333333334
max: 18
min: 9
mean: 13.833333333333334
max: 16
min: 8
mean: 11.5
max: 19
min: 8
mean: 14.666666666666666
max: 21
min: 11
mean: 16.166666666666668
max: 22
min: 13
mean: 17.125
max: 22
min: 12
mean: 18.083333333333332
max: 19
min: 15
mean: 16.958333333333332
max: 21
min: 14
mean: 16.625
max: 19
min: 11
mean: 14.5
max: 20
min: 11
mean: 15.208333333333334
max: 22
min: 8
mean: 16.833333333333332
max: 23
min: 11
mean: 17.916666666666668
max: 18
min: 12
mean: 15.19047619047619
max: 19
min: 11
mean: 15.15
max: 16
min: 10
mean: 13.65
max: 18
min: 12
mean: 14.541666666666666
max: 21
min: 9
mean: 16.083333333333332
max: 19
min: 10
mean: 15.541666666666666
max: 22
min: 11
mean: 16.916666666666668
max: 18
min: 11
mean: 15.75
max: 19
min: 13
mean: 16.291666666666668
max: 22
min: 13
mean: 17.166666666666668
max: 22
min: 14
mean: 19.041666666666668
max: 24
min: 16
mean: 19.0
max: 21
min: 16
mean: 17.833333333333332
max: 23
min: 14
mean: 18.25
max: 22
min: 16
mean: 18.0
max: 23
min: 16
mean: 19.125
max: 21
min: 16
mean: 17.833333333333332
max: 22
min: 16
mean: 18.25
max: 20
min: 14
mean: 16.458333333333332
max: 19
min: 14
mean: 17.041666666666668
max: 19
min: 14
mean: 16.166666666666668
max: 18
min: 13
mean: 15.291666666666666
max: 22
min: 13
mean: 17.772727272727273
max: 22
min: 14
mean: 18.458333333333332
max: 22
min: 16
mean: 18.458333333333332
max: 22
min: 14
mean: 18.041666666666668
max: 25
min: 16
mean: 19.708333333333332
max: 21
min: 13
mean: 17.208333333333332
max: 21
min: 10
mean: 16.125
max: 20
min: 12
mean: 16.2
max: 21
min: 13
mean: 17.458333333333332
max: 22
min: 17
mean: 19.041666666666668
max: 20
min: 16
mean: 17.958333333333332
max: 22
min: 17
mean: 18.291666666666668
max: 19
min: 16
mean: 17.125
max: 19
min: 13
mean: 16.208333333333332
max: 18
min: 12
mean: 14.833333333333334
max: 17
min: 10
mean: 13.583333333333334
max: 17
min: 9
mean: 12.791666666666666
max: 14
min: 8
mean: 11.125
max: 16
min: 7
mean: 10.833333333333334
max: 14
min: 6
mean: 10.625
max: 16
min: 9
mean: 11.826086956521738
max: 17
min: 8
mean: 14.5
max: 19
min: 15
mean: 16.833333333333332
max: 19
min: 16
mean: 17.25

In [275]:
for i in range(len(days)):
    print("max: " + str(grouped.get_group(days[i])["CELSIUS"].max()))
    print("min: " + str(grouped.get_group(days[i])["CELSIUS"].min()))
    print("mean: " + str(grouped.get_group(days[i])["CELSIUS"].mean()))
    
    #rovaniemi

max: 12
min: 3
mean: 7.625
max: 16
min: 2
mean: 9.75
max: 13
min: 4
mean: 9.208333333333334
max: 11
min: 3
mean: 6.666666666666667
max: 17
min: 2
mean: 10.25
max: 15
min: 6
mean: 10.958333333333334
max: 9
min: 2
mean: 5.875
max: 7
min: 1
mean: 4.25
max: 4
min: -2
mean: 1.6666666666666667
max: 4
min: -2
mean: 1.5416666666666667
max: 8
min: -2
mean: 2.7083333333333335
max: 11
min: -2
mean: 5.166666666666667
max: 13
min: 1
mean: 7.583333333333333
max: 14
min: 3
mean: 10.125
max: 14
min: 3
mean: 8.708333333333334
max: 12
min: 1
mean: 7.217391304347826
max: 13
min: 6
mean: 9.708333333333334
max: 14
min: 9
mean: 11.0
max: 23
min: 9
mean: 16.375
max: 22
min: 13
mean: 16.958333333333332
max: 18
min: 11
mean: 14.833333333333334
max: 19
min: 9
mean: 14.666666666666666
max: 18
min: 8
mean: 13.416666666666666
max: 17
min: 9
mean: 12.291666666666666
max: 20
min: 9
mean: 14.041666666666666
max: 18
min: 8
mean: 13.833333333333334
max: 12
min: 7
mean: 9.416666666666666
max: 18
min: 8
mean: 12.916666666666666
max: 18
min: 6
mean: 13.636363636363637
max: 13
min: 4
mean: 9.708333333333334
max: 16
min: 6
mean: 10.625
max: 10
min: 4
mean: 6.583333333333333
max: 8
min: 3
mean: 6.125
max: 16
min: 4
mean: 10.166666666666666
max: 15
min: 5
mean: 9.916666666666666
max: 12
min: 9
mean: 10.333333333333334
max: 19
min: 8
mean: 14.541666666666666
max: 21
min: 9
mean: 16.458333333333332
max: 14
min: 11
mean: 12.333333333333334
max: 18
min: 11
mean: 14.0
max: 20
min: 11
mean: 16.291666666666668
max: 22
min: 13
mean: 16.791666666666668
max: 13
min: 12
mean: 12.625
max: 18
min: 9
mean: 12.625
max: 20
min: 7
mean: 14.791666666666666
max: 19
min: 9
mean: 15.25
max: 23
min: 12
mean: 18.5
max: 24
min: 14
mean: 19.458333333333332
max: 19
min: 14
mean: 16.875
max: 22
min: 13
mean: 17.791666666666668
max: 17
min: 10
mean: 12.791666666666666
max: 17
min: 9
mean: 11.875
max: 17
min: 8
mean: 12.041666666666666
max: 14
min: 7
mean: 11.0
max: 17
min: 9
mean: 12.875
max: 17
min: 12
mean: 14.083333333333334
max: 16
min: 12
mean: 13.421052631578947
max: 17
min: 11
mean: 13.833333333333334
max: 19
min: 10
mean: 15.25
max: 20
min: 8
mean: 16.375
max: 19
min: 14
mean: 17.043478260869566
max: 15
min: 13
mean: 13.833333333333334
max: 19
min: 14
mean: 16.416666666666668
max: 18
min: 12
mean: 14.217391304347826
max: 17
min: 12
mean: 14.083333333333334
max: 18
min: 9
mean: 13.833333333333334
max: 16
min: 8
mean: 11.5
max: 19
min: 8
mean: 14.666666666666666
max: 21
min: 11
mean: 16.166666666666668
max: 22
min: 13
mean: 17.125
max: 22
min: 12
mean: 18.083333333333332
max: 19
min: 15
mean: 16.958333333333332
max: 21
min: 14
mean: 16.625
max: 19
min: 11
mean: 14.5
max: 20
min: 11
mean: 15.208333333333334
max: 22
min: 8
mean: 16.833333333333332
max: 23
min: 11
mean: 17.916666666666668
max: 18
min: 12
mean: 15.19047619047619
max: 19
min: 11
mean: 15.15
max: 16
min: 10
mean: 13.65
max: 18
min: 12
mean: 14.541666666666666
max: 21
min: 9
mean: 16.083333333333332
max: 19
min: 10
mean: 15.541666666666666
max: 22
min: 11
mean: 16.916666666666668
max: 18
min: 11
mean: 15.75
max: 19
min: 13
mean: 16.291666666666668
max: 22
min: 13
mean: 17.166666666666668
max: 22
min: 14
mean: 19.041666666666668
max: 24
min: 16
mean: 19.0
max: 21
min: 16
mean: 17.833333333333332
max: 23
min: 14
mean: 18.25
max: 22
min: 16
mean: 18.0
max: 23
min: 16
mean: 19.125
max: 21
min: 16
mean: 17.833333333333332
max: 22
min: 16
mean: 18.25
max: 20
min: 14
mean: 16.458333333333332
max: 19
min: 14
mean: 17.041666666666668
max: 19
min: 14
mean: 16.166666666666668
max: 18
min: 13
mean: 15.291666666666666
max: 22
min: 13
mean: 17.772727272727273
max: 22
min: 14
mean: 18.458333333333332
max: 22
min: 16
mean: 18.458333333333332
max: 22
min: 14
mean: 18.041666666666668
max: 25
min: 16
mean: 19.708333333333332
max: 21
min: 13
mean: 17.208333333333332
max: 21
min: 10
mean: 16.125
max: 20
min: 12
mean: 16.2
max: 21
min: 13
mean: 17.458333333333332
max: 22
min: 17
mean: 19.041666666666668
max: 20
min: 16
mean: 17.958333333333332
max: 22
min: 17
mean: 18.291666666666668
max: 19
min: 16
mean: 17.125
max: 19
min: 13
mean: 16.208333333333332
max: 18
min: 12
mean: 14.833333333333334
max: 17
min: 10
mean: 13.583333333333334
max: 17
min: 9
mean: 12.791666666666666
max: 14
min: 8
mean: 11.125
max: 16
min: 7
mean: 10.833333333333334
max: 14
min: 6
mean: 10.625
max: 16
min: 9
mean: 11.826086956521738
max: 17
min: 8
mean: 14.5
max: 19
min: 15
mean: 16.833333333333332
max: 19
min: 16
mean: 17.25

In [274]:
for i in range(len(days1[0:31])):
    print(str(days1[0:31][i]) + " max: " + str(grouped.get_group(days1[0:31][i])["CELSIUS"].max()))
    print(str(days1[0:31][i]) + " min: " + str(grouped.get_group(days1[0:31][i])["CELSIUS"].min()))
    print(str(days1[0:31][i]) + " mean: " + str(grouped.get_group(days1[0:31][i])["CELSIUS"].mean()))
    
    #kumpula

0501 max: 12
0501 min: 3
0501 mean: 7.625
0502 max: 16
0502 min: 2
0502 mean: 9.75
0503 max: 13
0503 min: 4
0503 mean: 9.208333333333334
0504 max: 11
0504 min: 3
0504 mean: 6.666666666666667
0505 max: 17
0505 min: 2
0505 mean: 10.25
0506 max: 15
0506 min: 6
0506 mean: 10.958333333333334
0507 max: 9
0507 min: 2
0507 mean: 5.875
0508 max: 7
0508 min: 1
0508 mean: 4.25
0509 max: 4
0509 min: -2
0509 mean: 1.6666666666666667
0510 max: 4
0510 min: -2
0510 mean: 1.5416666666666667
0511 max: 8
0511 min: -2
0511 mean: 2.7083333333333335
0512 max: 11
0512 min: -2
0512 mean: 5.166666666666667
0513 max: 13
0513 min: 1
0513 mean: 7.583333333333333
0514 max: 14
0514 min: 3
0514 mean: 10.125
0515 max: 14
0515 min: 3
0515 mean: 8.708333333333334
0516 max: 12
0516 min: 1
0516 mean: 7.217391304347826
0517 max: 13
0517 min: 6
0517 mean: 9.708333333333334
0518 max: 14
0518 min: 9
0518 mean: 11.0
0519 max: 23
0519 min: 9
0519 mean: 16.375
0520 max: 22
0520 min: 13
0520 mean: 16.958333333333332
0521 max: 18
0521 min: 11
0521 mean: 14.833333333333334
0522 max: 19
0522 min: 9
0522 mean: 14.666666666666666
0523 max: 18
0523 min: 8
0523 mean: 13.416666666666666
0524 max: 17
0524 min: 9
0524 mean: 12.291666666666666
0525 max: 20
0525 min: 9
0525 mean: 14.041666666666666
0526 max: 18
0526 min: 8
0526 mean: 13.833333333333334
0527 max: 12
0527 min: 7
0527 mean: 9.416666666666666
0528 max: 18
0528 min: 8
0528 mean: 12.916666666666666
0529 max: 18
0529 min: 6
0529 mean: 13.636363636363637
0530 max: 13
0530 min: 4
0530 mean: 9.708333333333334
0531 max: 16
0531 min: 6
0531 mean: 10.625

In [273]:
for i in range(len(days[0:31])):
    print(str(days[0:31][i]) + " max: " + str(grouped.get_group(days[0:31][i])["CELSIUS"].max()))
    print(str(days[0:31][i]) + " min: " + str(grouped.get_group(days[0:31][i])["CELSIUS"].min()))
    print(str(days[0:31][i]) + " mean: " + str(grouped.get_group(days[0:31][i])["CELSIUS"].mean()))
    
    #rovaninemi

0501 max: 12
0501 min: 3
0501 mean: 7.625
0502 max: 16
0502 min: 2
0502 mean: 9.75
0503 max: 13
0503 min: 4
0503 mean: 9.208333333333334
0504 max: 11
0504 min: 3
0504 mean: 6.666666666666667
0505 max: 17
0505 min: 2
0505 mean: 10.25
0506 max: 15
0506 min: 6
0506 mean: 10.958333333333334
0507 max: 9
0507 min: 2
0507 mean: 5.875
0508 max: 7
0508 min: 1
0508 mean: 4.25
0509 max: 4
0509 min: -2
0509 mean: 1.6666666666666667
0510 max: 4
0510 min: -2
0510 mean: 1.5416666666666667
0511 max: 8
0511 min: -2
0511 mean: 2.7083333333333335
0512 max: 11
0512 min: -2
0512 mean: 5.166666666666667
0513 max: 13
0513 min: 1
0513 mean: 7.583333333333333
0514 max: 14
0514 min: 3
0514 mean: 10.125
0515 max: 14
0515 min: 3
0515 mean: 8.708333333333334
0516 max: 12
0516 min: 1
0516 mean: 7.217391304347826
0517 max: 13
0517 min: 6
0517 mean: 9.708333333333334
0518 max: 14
0518 min: 9
0518 mean: 11.0
0519 max: 23
0519 min: 9
0519 mean: 16.375
0520 max: 22
0520 min: 13
0520 mean: 16.958333333333332
0521 max: 18
0521 min: 11
0521 mean: 14.833333333333334
0522 max: 19
0522 min: 9
0522 mean: 14.666666666666666
0523 max: 18
0523 min: 8
0523 mean: 13.416666666666666
0524 max: 17
0524 min: 9
0524 mean: 12.291666666666666
0525 max: 20
0525 min: 9
0525 mean: 14.041666666666666
0526 max: 18
0526 min: 8
0526 mean: 13.833333333333334
0527 max: 12
0527 min: 7
0527 mean: 9.416666666666666
0528 max: 18
0528 min: 8
0528 mean: 12.916666666666666
0529 max: 18
0529 min: 6
0529 mean: 13.636363636363637
0530 max: 13
0530 min: 4
0530 mean: 9.708333333333334
0531 max: 16
0531 min: 6
0531 mean: 10.625

In [271]:
for i in range(len(days1[31:61])):
    print(str(days1[31:61][i]) + " max: " + str(grouped.get_group(days1[31:61][i])["CELSIUS"].max()))
    print(str(days1[31:61][i]) + " min: " + str(grouped.get_group(days1[31:61][i])["CELSIUS"].min()))
    print(str(days1[31:61][i]) + " mean: " + str(grouped.get_group(days1[31:61][i])["CELSIUS"].mean()))
    
    #kumpula

0601 max: 10
0601 min: 4
0601 mean: 6.583333333333333
0602 max: 8
0602 min: 3
0602 mean: 6.125
0603 max: 16
0603 min: 4
0603 mean: 10.166666666666666
0604 max: 15
0604 min: 5
0604 mean: 9.916666666666666
0605 max: 12
0605 min: 9
0605 mean: 10.333333333333334
0606 max: 19
0606 min: 8
0606 mean: 14.541666666666666
0607 max: 21
0607 min: 9
0607 mean: 16.458333333333332
0608 max: 14
0608 min: 11
0608 mean: 12.333333333333334
0609 max: 18
0609 min: 11
0609 mean: 14.0
0610 max: 20
0610 min: 11
0610 mean: 16.291666666666668
0611 max: 22
0611 min: 13
0611 mean: 16.791666666666668
0612 max: 13
0612 min: 12
0612 mean: 12.625
0613 max: 18
0613 min: 9
0613 mean: 12.625
0614 max: 20
0614 min: 7
0614 mean: 14.791666666666666
0615 max: 19
0615 min: 9
0615 mean: 15.25
0616 max: 23
0616 min: 12
0616 mean: 18.5
0617 max: 24
0617 min: 14
0617 mean: 19.458333333333332
0618 max: 19
0618 min: 14
0618 mean: 16.875
0619 max: 22
0619 min: 13
0619 mean: 17.791666666666668
0620 max: 17
0620 min: 10
0620 mean: 12.791666666666666
0621 max: 17
0621 min: 9
0621 mean: 11.875
0622 max: 17
0622 min: 8
0622 mean: 12.041666666666666
0623 max: 14
0623 min: 7
0623 mean: 11.0
0624 max: 17
0624 min: 9
0624 mean: 12.875
0625 max: 17
0625 min: 12
0625 mean: 14.083333333333334
0626 max: 16
0626 min: 12
0626 mean: 13.421052631578947
0627 max: 17
0627 min: 11
0627 mean: 13.833333333333334
0628 max: 19
0628 min: 10
0628 mean: 15.25
0629 max: 20
0629 min: 8
0629 mean: 16.375
0630 max: 19
0630 min: 14
0630 mean: 17.043478260869566

In [260]:
days[31:61]

['0601',
 '0602',
 '0603',
 '0604',
 '0605',
 '0606',
 '0607',
 '0608',
 '0609',
 '0610',
 '0611',
 '0612',
 '0613',
 '0614',
 '0615',
 '0616',
 '0617',
 '0618',
 '0619',
 '0620',
 '0621',
 '0622',
 '0623',
 '0624',
 '0625',
 '0626',
 '0627',
 '0628',
 '0629',
 '0630']

In [272]:
for i in range(len(days[31:61])):
    print(str(days[31:61][i]) + " max: " + str(grouped.get_group(days[31:61][i])["CELSIUS"].max()))
    print(str(days[31:61][i]) + " min: " + str(grouped.get_group(days[31:61][i])["CELSIUS"].min()))
    print(str(days[31:61][i]) + " mean: " + str(grouped.get_group(days[31:61][i])["CELSIUS"].mean()))
    
# rovaniemi

0601 max: 10
0601 min: 4
0601 mean: 6.583333333333333
0602 max: 8
0602 min: 3
0602 mean: 6.125
0603 max: 16
0603 min: 4
0603 mean: 10.166666666666666
0604 max: 15
0604 min: 5
0604 mean: 9.916666666666666
0605 max: 12
0605 min: 9
0605 mean: 10.333333333333334
0606 max: 19
0606 min: 8
0606 mean: 14.541666666666666
0607 max: 21
0607 min: 9
0607 mean: 16.458333333333332
0608 max: 14
0608 min: 11
0608 mean: 12.333333333333334
0609 max: 18
0609 min: 11
0609 mean: 14.0
0610 max: 20
0610 min: 11
0610 mean: 16.291666666666668
0611 max: 22
0611 min: 13
0611 mean: 16.791666666666668
0612 max: 13
0612 min: 12
0612 mean: 12.625
0613 max: 18
0613 min: 9
0613 mean: 12.625
0614 max: 20
0614 min: 7
0614 mean: 14.791666666666666
0615 max: 19
0615 min: 9
0615 mean: 15.25
0616 max: 23
0616 min: 12
0616 mean: 18.5
0617 max: 24
0617 min: 14
0617 mean: 19.458333333333332
0618 max: 19
0618 min: 14
0618 mean: 16.875
0619 max: 22
0619 min: 13
0619 mean: 17.791666666666668
0620 max: 17
0620 min: 10
0620 mean: 12.791666666666666
0621 max: 17
0621 min: 9
0621 mean: 11.875
0622 max: 17
0622 min: 8
0622 mean: 12.041666666666666
0623 max: 14
0623 min: 7
0623 mean: 11.0
0624 max: 17
0624 min: 9
0624 mean: 12.875
0625 max: 17
0625 min: 12
0625 mean: 14.083333333333334
0626 max: 16
0626 min: 12
0626 mean: 13.421052631578947
0627 max: 17
0627 min: 11
0627 mean: 13.833333333333334
0628 max: 19
0628 min: 10
0628 mean: 15.25
0629 max: 20
0629 min: 8
0629 mean: 16.375
0630 max: 19
0630 min: 14
0630 mean: 17.043478260869566